.photo-grid {
  max-width: 1184px;
  margin: 0 auto 92px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  /* grid-template-columns: repeat(auto-fit, minmax(min-content, 284px)); */
  gap: 16px;
  justify-content: center;
  width: 92.5vw;
}
@media screen and (max-width: 1024px) {
  .photo-grid {
    max-width: 928px;
    /* grid-template-columns: repeat(auto-fit, minmax(min-content, 300px)); */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 14px;
    width: 90.625vw;
  }
}
@media screen and (max-width: 768px) {
  .photo-grid {
    max-width: 720px;
    /* grid-template-columns: repeat(auto-fit, minmax(min-content, 352px)); */
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    gap: 16px;
    width: 93.75vw;
  }
}
@media screen and (max-width: 425px) {
  .photo-grid {
    max-width: 425px;
    width: 88vw;
    /* grid-template-columns: repeat(auto-fit, minmax(min-content, 352px)); */
    grid-template-columns: repeat(auto-fit, minmax(45.83vw, 100%));
  }
}
@media screen and (max-width: 320px) {
  .photo-grid {
    max-width: 288px;
    /* grid-template-columns: repeat(auto-fit, minmax(min-content, 288px)); */
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    gap: 12px;
    width: 100%;
  }
}
