.place__paragraphs-container {
  display: grid;
  gap: 26px;
  grid-template-rows: repeat(2, min-content);
}
@media screen and (max-width: 1024px) {
  .place__paragraphs-container {
    gap: 27px;
  }
}
@media screen and (max-width: 768px) {
  .place__paragraphs-container {
    gap: 25px;
  }
}
