.footer__links {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .footer__links {
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .footer__links {
    max-width: 288px;
    display: grid;
    gap: 32px;
    margin-bottom: 48px;
  }
}
