.place {
  max-width: 984px;
  display: grid;
  grid-template-columns: repeat(auto-fit,  460px 484px);/*46.747% 49.186%*/
  column-gap: 40px;
  row-gap: 48px;
  grid-auto-flow: dense;
  margin-bottom: 80px;
}
@media screen and (max-width:1024px) {
.place {
  grid-template-columns: repeat(auto-fit, 47.413% /*42.968vw*/ 44.531vw);/*47.413% 49.137%*/
  column-gap: 32px; 
}
}
@media screen and (max-width:768px) {
.place {
  grid-template-columns: 44.27vw 45.86vw;
  column-gap: 28px; 
}
}
@media screen and (max-width:320px) {
.place {
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  row-gap: 32px; 
}
}